body {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: yellow;
  background-color: black;
  background-image: url("https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif");
  background-size: cover;
}


#board, #boardTwo {
  display: grid;
  float: left;
  grid-template-columns: repeat(10, 75px);
  grid-template-rows: repeat(10, 75px);
}

#playerOneGuess, #playerTwoGuess {
  display: grid;
  float: right;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}

#board div, #boardTwo div, #playerOneGuess div, #playerTwoGuess div{
  border: 3px solid;
  background-color: gray;
  border-radius: 9px;
  border-color: yellow;
}

img {
  width: 75px;
  height: 75px;
  border: 1px solid;
}

#displayShip {
  display: flex;
  justify-content: space-around;

}

#score-display{
  text-align: center;
  vertical-align: middle;
}
