#board, #boardTwo {
  display: grid;
  float: left;
  grid-template-columns: repeat(10, 75px);
  grid-template-rows: repeat(10, 75px);

}

#playerOneGuess, #playerTwoGuess {
  display: grid;
  float: right;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}

#board div, #boardTwo div, #playerOneGuess div, #playerTwoGuess div{
  border: 1px solid;
}

img {
  width: 75px;
  height: 75px;
}

#displayShip {
  display: flex;
  justify-content: space-around;

}

#score-display{
  text-align: center;
  vertical-align: middle;
}
