body {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: yellow;
  background-color: black;
  background-image: url("https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif");
  background-size: cover;
}


#board, #boardTwo {
  display: grid;
  float: left;
  grid-template-columns: repeat(10, 75px);
  grid-template-rows: repeat(10, 75px);
}

#playerOneGuess, #playerTwoGuess {
  display: grid;
  float: right;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}

#board div, #boardTwo div, #playerOneGuess div, #playerTwoGuess div{
  border: 3px solid;
  background-color: gray;
  opacity: 0.7;
  border-radius: 8px;
  border-color: yellow;
  font-size-adjust: auto:
}

img {
  width: 70px;
  height: 70px;
  border: 1px solid;
  border-radius: 8px;
}

div.grid-square > img {
  opacity: 1;
}

 #displayShip {
  margin: 0 0 20px 0px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(3,100px);
  justify-content: center;
  align-content: end;
}

#score-display{
  text-align: center;
  vertical-align: middle;
}


#user-form-container{
  position: fixed;
  width:20em;
  height:12em;
  margin-top: -5em; /*set to a negative number 1/2 of your height*/
  margin-left: -10em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  top: 50%;
  left: 50%;
  text-align: center;
}

.playerName{
  width: 97%;
  height: 2em;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

#submitPlayers{
  width: 97%;
  color: yellow;
  background-color: black;
  font-family: 'Press Start 2P', cursive;

h5 {
  font-size: auto;
}
